# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  workflow_dispatch:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 18
      uses: actions/setup-java@v1
      with:
        java-version: 18
    - name: Build with Maven
      run: mvn -B package --file pom.xml

  Deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: fetch code
      uses: actions/checkout@v2
    - name: Set up JDK 18
      uses: actions/setup-java@v1
      with:
       java-version: 18
    - name: Build with Maven
      run: mvn -B package --file pom.xml
    - name: deploy
      uses: appleboy/scp-action@master
      with:
       HOST: ${{ secrets.AZURE_SERVER_IP }}
       USERNAME: ${{ secrets.AZURE_USR }}
       KEY: ${{ secrets.AZURE_SERVER_KEY }}
       source: "target/ppu-1.0-SNAPSHOT.jar"
       target: "deployment"
    - name: run jar via ssh
      uses: fifsky/ssh-action@master
      with:
       script: |
        cd ~/deployment/target
        java -jar ppu-1.0-SNAPSHOT.jar
       HOST: ${{ secrets.AZURE_SERVER_IP }}
       USER: ${{ secrets.AZURE_USR }}
       KEY: ${{ secrets.AZURE_SERVER_KEY }}
